
body {
  font-family: 'Georgia', Times, Times New Roman, serif;
  width: 100%;
  /*height: 800px;*/
  background: url("../images/norwegian_rose.png");
  background-size: cover repeat;
}
*{
  padding: 0px;
  margin:0px;
}

/*.maindiv {
  float: left;
  clear: both;
  display: block;

}*/
h2 {
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  padding: 20px;
  margin-bottom: 20px;
}

#left_content {
  /*float: left;
  /*margin: 110px;*/
  background-color: white;
  /*border-style: dotted;*/
  /*border-color: black;*/
  /*padding: 30px;*/
  /*max-width: 630px;*/
  width: 50%;
}
.right_content {
  /*display: inline-block;*/
  /*position: relative;*/
  float: right;
  /*clear: both;*/
  /*max-width: 300px;*/
  width: 10%;
  /*clear: left;*/
  
}
#navigation ul {
  width: 100%;
  height:100px;
  background: white;
  line-height: 85px;
  border-bottom-color: grey;
  border-bottom-style: solid;
  margin: 0px;
  /*color: blue;*/
}
#navigation ul a {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  /*text-align: right;*/
  text-decoration: none;
  color: darkgrey;
  /*padding: 0px;*/
  margin-right: 40px;
}
#navigation ul li {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
}

#menu {
  margin-top: 0px;
  margin-left: 20px;
}

#navigation h1 {
  width: 200px;
  background-color: #4aaaa5;
  /*margin: 0, auto;*/
  margin-top: 0px;
  margin-left: 125px;
  color: white;
  float: left;
  font-size: 24px;
  text-align: center;
  height: 100px;
}

#menu li {
  margin: -10px;
}

#navigation li:not(:first-child):after {
  content: " | ";
  color: black;
  opacity: 0.4;
  word-spacing: -1em;
}
li a:hover {
  background-color: purple;
}

/*#left_content, .about_me {
  position: absolute;
/*  float: left;
  margin: 10px;*/
/**/
/*.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: auto;

}*/

.image {
  float: left;
  margin: 10px;
  height: 250px;
  width: 250px;
}

/*.clearfix::after {
  clear:both;
  display: block;
}*/
/*.footer {
  height: 75px;
  background-color: grey;
  color:white;
  text-align: center;
  /*padding: 20px;*/
  /*margin: 20px;*/
/*}*/
/*.footer p {
  padding-top: 25px;
}*/
/** {
  padding: 0px;
  margin: 0px;
}
*/