body {
  font-family: 'Georgia', Times, Times New Roman, serif;
  width: 100%;
  background: url("../images/norwegian_rose.png");
  background-size: cover repeat;
}
*{
  padding: 0;
  margin: 0;
}

h2 {
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  padding: 20px;
  margin-bottom: 20px;
  color: #4aaaa5;
}

#left_content {
  float: left;
  margin-top: 25px;
  margin-left: 340px;
  border-style: solid;
  border-color: lightgrey;
  border-opacity: 0.2;
  background-color: white;
  font-size: 14px;
  font-color: grey;
  width: 650px;
}
.right_content {
  margin-top: 25px;
  background-color: white;
  border: solid;
  border-color: lightgrey;
  float: right;
  width: 270px;
  padding-bottom: 30px;
  margin-right: 340px;
}

.right_content a {
  font-size: 80px;
  position: relative;
  text-align: center;
  padding: 7px;
  color: grey;
}

#navigation {
  height:100px;
  background: white;
  line-height: 85px;
  border-bottom-color: grey;
  border-bottom-style: solid;
}
#navigation ul {
  margin-right: 325px;
}
#navigation ul a {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: darkgrey;
}

#navigation li:not(:first-child):after {
  content: " | ";
  color: black;
  opacity: 0.4;
  margin-left: 15px;
}

#navigation ul li {
  list-style-type: none;
  /*align-items: center;*/
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

#navigation h1 {
  width: 200px;
  background-color: #4aaaa5;
  margin-top: 0px;
  margin-left: 340px;
  color: white;
  float: left;
  font-size: 24px;
  text-align: center;
  height: 100px;
  text-transform: uppercase;
  line-height: 45px;
}

li a:hover {
  background-color: purple;
}
li a:visited {
  background: orange;
}

li a:active {
  background: yellow;
}
.image {
  float: left;
  margin: 10px;
  height: 250px;
  width: 250px;
}

.clearfix::after {
  content: "";
  display: block;
  clear:both;
  /*overflow: auto;*/
}
.main-footer {
  height: 100px;
  line-height: 100px;
  background-color: grey;
  color:white;
  text-align: center;
  font-size: 18px;
  margin-top: 225px;
  border-top: solid;
  border-color: #4aaaa5;
  border-width: 8px;
}